.game-container {
  height: 550px;
  width: 550px;
  background-color: white;
  display: grid;
  grid-template-columns: 50px 500px 50px;
  grid-template-rows: 50px 500px 50px;
}

.playground {
  position: relative;
  height: 500px;
  width: 500px;
  background-color: white;
  grid-area: 2/2/3/3;
}

.up {
  grid-area: 1/2/2/3;
}

.right {
  grid-area: 2/3/3/4;
}

.left {
  grid-area: 2/1/3/2;
}

.down {
  grid-area: 3/2/4/3;
}

button {
  background-color: rgb(21, 207, 231);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.row {
  height: 50px;
  width: 500px;
}

.column {
  height: 500px;
  width: 50px;
}

.block {
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: rgb(60, 185, 60);
}